node_modules
coverage
pacts
dist-web
dist-lambda
logs

config.sh
*.key
*.key.pub
serverless-output.yml
package-lock.json

# Serverless directories
.serverless
.webpack

yarn-debug.log*
yarn-error.log*

.env.development
